<template>
  <div id="report-list">
    <form class="form-inline">
      <div class="form-group">
        <label for="user_id"> ID Pengguna (Nomor HP) </label>
        <div class="input-group">
          <input type="text" class="form-control" v-model="userEmail" placeholder="Nomor HP">
        </div>
      </div>
      <button class="btn btn-primary" @click="showFilledForms">Tampilkan Laporan</button>
    </form>
    <hr />
    <table class="table table-bordered table-hover table-striped" v-if="user">
      <thead>
        <tr>
          <th> Nama </th>
          <th> UID </th>
          <th> Nomor HP </th>
          <th> Role </th>
          <th> Aktif </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ user.name }} </td>
          <td> {{ user.id }} </td>
          <td> {{ user.phone }} </td>
          <td> {{ user.role }} </td>
          <td> {{ user.active }} </td>
        </tr>
      </tbody>
    </table>
    <template v-for="fid in Object.keys(filledForms)">
      <template v-for="fver in Object.keys(filledForms[fid])">
        <h2> {{ fid }}  <small> ver {{ fver }} </small> </h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th> Timestamp </th>
                <th> UID </th>
                <th v-for="key in getFormHeader(filledForms[fid][fver])"> {{key}} </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="ffid in Object.keys(filledForms[fid][fver])" v-bind:id="ffid">
                <td> {{ filledForms[fid][fver][ffid].waktu | displayDateTime }} </td>
                <td> {{ filledForms[fid][fver][ffid].user.substr(0, 10) }} </td>
                <template v-for="key in Object.keys(filledForms[fid][fver][ffid].fields)">
                <td v-if="isWebUri(filledForms[fid][fver][ffid].fields[key])">
                  <a v-bind:href="filledForms[fid][fver][ffid].fields[key]" target="_blank">Link</a>
                </td>
                <td v-else> {{ filledForms[fid][fver][ffid].fields[key] }} </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import { isWebUri } from 'valid-url'

export default {
  data: function () {
    return {
      userEmail: '',
      user: null,
      filledForms: []
    }
  },
  methods: {
    isWebUri: function (url) {
      return isWebUri(url)
    },
    getFormHeader: function (form) {
      return Object.keys(form[Object.keys(form)[0]].fields)
    },
    showFilledForms: function () {
      let self = this

      // Get user infos
      this.$store.commit('startLoadingWithText', 'Fetching user infos')
      let rootRef = this.$store.state.database.ref()
      let userRef = rootRef.child('users').orderByChild('email').equalTo(this.userEmail + '@marumaru.com')
      userRef.once('value').then(function (snapshot) {
        if (snapshot.val()) {
          self.filledForms = []
          self.user = snapshot.val()[Object.keys(snapshot.val())[0]]

          self.loadFilledFormWhereUID(self.user.id)
        } else {
          alert('Pengguna tidak ditemukan')
        }
        self.$store.commit('stopLoading')
      }).catch(function (err) {
        console.log(err + 'l')
        self.$store.commit('stopLoading')
      })
    },
    loadFilledFormWhereUID: function (uid) {
      let rootRef = this.$store.state.database.ref()
      var filledFormTemplate = rootRef.child('filled_form').orderByChild('user').equalTo(uid)
      // Make sure we remove all previous listeners.
      filledFormTemplate.off()
      // Loads the last 12 messages and listen for new ones.
      var setFormTemplate = function (data) {
        var val = data.val()
        let fid = val['form_id']
        let fver = val['form_version']

        if (!this.filledForms.hasOwnProperty(fid)) {
          this.$set(this.filledForms, fid, {})
        }

        if (!this.filledForms[fid].hasOwnProperty(fver)) {
          this.$set(this.filledForms[fid], fver, [])
        }

        this.filledForms[fid][fver].push(val)
      }

      filledFormTemplate.limitToLast(100).on('child_added', setFormTemplate.bind(this))

      this.$store.commit('stopLoading')
    }
  },
  filters: {
    displayDateTime: function (timestamp) {
      var datetime = window.moment.unix(timestamp / 1000)
      return datetime.fromNow()
    }
  }
}
</script>
