<template>
  <div id="report-list">
    <template v-for="fid in Object.keys(filledForms)">
      <div class="row" v-for="fver in Object.keys(filledForms[fid])">
        <div class="col-sm-12">
          <h2> {{ fid }}  <small> ver {{ fver }} </small> </h2>
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th> Timestamp </th>
                <th> UID </th>
                <th v-for="key in getFormHeader(filledForms[fid][fver])"> {{key}} </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="ffid in Object.keys(filledForms[fid][fver])" v-bind:id="ffid">
                <td> {{ filledForms[fid][fver][ffid].waktu | displayDateTime }} </td>
                <td> {{ filledForms[fid][fver][ffid].user.substr(0, 10) }} </td>
                <template v-for="key in Object.keys(filledForms[fid][fver][ffid].fields)">
                <td v-if="isWebUri(filledForms[fid][fver][ffid].fields[key])">
                  <a v-bind:href="filledForms[fid][fver][ffid].fields[key]" target="_blank">Link</a>
                </td>
                <td v-else> {{ filledForms[fid][fver][ffid].fields[key] }} </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { isWebUri } from 'valid-url'

export default {
  data: function () {
    return {
      filledForms: []
    }
  },
  created: function () {
    this.$store.commit('startLoadingWithText', 'Fetching your data')

    var filledFormTemplate = this.$store.state.database.ref('filled_form')
    // Make sure we remove all previous listeners.
    filledFormTemplate.off()
    // Loads the last 12 messages and listen for new ones.
    var setFormTemplate = function (data) {
      var val = data.val()
      let fid = val['form_id']
      let fver = val['form_version']

      if (!this.filledForms.hasOwnProperty(fid)) {
        this.$set(this.filledForms, fid, {})
      }

      if (!this.filledForms[fid].hasOwnProperty(fver)) {
        this.$set(this.filledForms[fid], fver, [])
      }

      this.filledForms[fid][fver].push(val)
    }

    filledFormTemplate.limitToLast(100).on('child_added', setFormTemplate.bind(this))

    this.$store.commit('stopLoading')
  },
  methods: {
    isWebUri: function (url) {
      return isWebUri(url)
    },
    getFormHeader: function (form) {
      return Object.keys(form[Object.keys(form)[0]].fields)
    }
  },
  filters: {
    displayDateTime: function (timestamp) {
      var datetime = window.moment.unix(timestamp / 1000)
      return datetime.fromNow()
    }
  }
}
</script>
