<template lang="html">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-header"> Laporan yang Dikumpulkan </h1>
        <router-view> </router-view>
      </div>
    </div>
  </div>
</template>
