<template>
    <div class="container create-container">
      <h1 class="page-header">Register Tim Penyuluh</h1>
      <form>
        <div class="form-group">
          <label for="userId">ID:</label>
          <input v-bind:value="phone + '@marumaru.com'" class="form-control" type="text" name="userId" disabled>
        </div>
        <div class="form-group">
          <label for="name">Name Lengkap:</label>
          <input v-model="name" type="name" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input v-model="phone" type="phone" class="form-control" id="phone" placeholder="088989891232">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input v-model="password" class="form-control" type="password" name="password" value="form-control">
        </div>
        <div class="form-group">
          <label for="role-select">Role:</label>
          <select class="form-control" id="role-select" v-model="role">
            <option disabled value="">Please select one</option>
            <option>user</option>
            <option>admin</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="status-select">Status:</label>
          <select class="form-control" id="status-select" v-model="status">
            <option disabled value="">Please select one</option>
            <option>inactive</option>
            <option>active</option>
          </select>
        </div> -->
        <button v-on:click="doCreateUser" type="submit" class="mt-20 btn btn-success btn-block">Submit</button>
      </form>
    </div>
</template>

<script>

import { store } from '../../vuex/index'

export default {
  name: 'createUser',
  data () {
    return {
      store,
      email: '',
      password: '',
      name: '',
      phone: '',
      role: '',
      status: false
    }
  },
  computed: {
    isLoggedIn: function () {
      return store.state.user != null
    }
  },
  methods: {
    doCreateUser: function (e) {
      e.preventDefault()
      let self = this

      this.$store.commit('startLoadingWithText', 'Sending your data')
      let email = this.phone + '@marumaru.com'
      console.log(this.role)
      this.$store.state.auth.createUserWithEmailAndPassword(email, this.password).then(function (user) {
        self.doCreateUserDatabase(user)
        console.log(email)
        console.log(user)
        console.log('database terisi')
      }).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message
        alert(errorCode)
        alert(errorMessage)
        // ...
      })

      this.$store.commit('stopLoading')
    },
    doCreateUserDatabase (user) {
      var userTemplateRef = this.$store.state.database.ref('users/' + user.uid)
      console.log(this.role)
      userTemplateRef.set({
        id: user.uid,
        name: this.name,
        email: this.phone + '@marumaru.com',
        phone: this.phone,
        role: this.role,
        active: this.status === 'active'
      })
      console.log('finish')
    }
  }
}
</script>

<style media="screen" scoped>
  .create-container {
    padding-top: 20px;
  }
  .mt-20 {
    margin-top: 20px;
  }
</style>
