<template>
    <div>
      <form>
        <div class="form-group">
          <label for="userId">ID:</label>
          <input v-model="userId" class="form-control" type="text" name="userId" disabled>
        </div>
        <div class="form-group">
          <label for="name">Name Lengkap:</label>
          <input v-model="name" type="name" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input v-model="phone" type="phone" class="form-control" id="phone" placeholder="088989891232" disabled>
        </div>
        <div class="form-group">
          <label for="role-select">Role:</label>
          <select class="form-control" id="role-select" v-model="role">
            <option disabled value="">Please select one</option>
            <option>user</option>
            <option>admin</option>
          </select>
        </div>
        <div class="form-group">
          <label for="status-select">Status:</label>
          <select class="form-control" id="status-select" v-model="status">
            <option disabled value="">Please select one</option>
            <option>inactive</option>
            <option>active</option>
          </select>
        </div>
        <button v-on:click="doEditUserDatabase" type="submit" class="mt-20 btn btn-success btn-block">Submit</button>
      </form>
    </div>
</template>

<script>

import { store } from '../../vuex/index'
import { router } from '../../router'

export default {
  name: 'editUser',
  data () {
    return {
      router,
      store,
      email: '',
      userId: '',
      name: '',
      phone: '',
      role: '',
      status: 'active'
    }
  },
  created: function () {
    this.retrieveUser()
  },
  computed: {
    user: function () {
      return this.$store.getters.getUserTemplateById(this.$route.params.id)
    },
    isLoggedIn: function () {
      return store.state.user != null
    }
  },
  methods: {
    retrieveUser: function () {
      let user = this.user
      this.name = user.name
      this.phone = user.phone
      this.role = user.role
      this.userId = this.phone + '@marumaru.com'
      this.status = user.active ? 'active' : 'inactive'
    },
    doEditUserDatabase: function (e) {
      e.preventDefault
      this.$store.commit('startLoadingWithText', 'Sending your data')
      console.log(this.isLoggedIn)
      if (this.isLoggedIn) {
        let user = this.user
        console.log(user.id)
        var userTemplateRef = this.$store.state.database.ref('users/' + user.id)
        userTemplateRef.set({
          id: user.id,
          name: this.name,
          email: this.userId,
          phone: this.phone,
          role: this.role,
          active: this.status === 'active'
        })
        console.log('finish')
      }
      this.$store.commit('stopLoading')
      this.$router.push('/users')
      alert('Edit Successful')
    }
  }
}
</script>

<style media="screen" scoped>

  .mt-20 {
    margin-top: 20px;
  }
</style>
