<template lang="html">
  <div id="user-list">
		Menampilkan daftar user (aktif/tidak) yang terdaftar di aplikasi
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Active</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in userList">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'Active' : 'Inactive' }}</td>
            <td><router-link :to="{ name: 'users.edit', params: { id: user.id } }">Edit</router-link></td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</template>

<script>
export default {
  computed: {
    userList: function () {
      let users = this.$store.getters.getUsers
      let result = []
      let user
      for (user in users) {
        result.push(users[user])
      }
      return result
    }
  }
}
</script>

<style lang="css">
</style>
