<template>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="page-header"> Pengaturan Pengguna </h1>
				<router-view> </router-view>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  created: function () {
    if (this.$store.getters.getUsers.length === 0) {
      console.log('listTemplate:create::start')
      this.$store.commit('startLoadingWithText', 'Fetching your data')
      var userTemplateRef = this.$store.state.database.ref('users')
      // Make sure we remove all previous listeners.
      userTemplateRef.off()
      // Loads the last 12 messages and listen for new ones.
      var setUserTemplate = function (data) {
        var val = data.val()
        var result = {
          id: data.key,
          email: val.email,
          name: val.name,
          phone: val.phone,
          role: val.role,
          active: val.active
        }
        console.log(typeof result)
        this.$store.commit('addUserTemplates', result)
      }

      userTemplateRef.on('child_added', setUserTemplate.bind(this))
      userTemplateRef.on('child_changed', setUserTemplate.bind(this))
      this.$store.commit('stopLoading')
    } else {
      console.log('Loading user from store')
    }
  }

}

</script>
