<template>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header"> Halaman yang Anda cari tidak ada. Error 404 </h1>
            </div>
        </div>
    </div>
</template>
