<template lang="html">
  <div id="">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1 class="page-header">Selamat Account Anda Sudah Dibuat </h1>
          </div>
      </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
