<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header"> PELAPORAN RUMA </h1>
                <p> Web Admin PELAPORAN RUMA </p>
                <div class="button-wrapper">
                  <router-link to="/login" class="btn btn-success"> Login </router-link>
                  <router-link :to="{ name: 'users.create' }" class="btn btn-info">Register</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style media="screen" scoped>
    .button-wrapper {
      margin-top:25px;
    }
</style>
