<template>
    <div class="container" id="">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form onsubmit="return false;">
                            <fieldset>
                                <div class="form-group">
                                    <input v-model="email" class="form-control" placeholder="E-mail" name="email" type="number" autofocus>
                                </div>
                                <div class="form-group">
                                    <input v-model="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <button v-on:click="doLogin" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'loginCmpt',
  data: function () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    doLogin: function () {
      this.$store.dispatch('login', {email: this.email, password: this.password})
    }
  }
}
</script>
