<template>
  <div id="app" v-cloak>
    <transition name="fade">
      <div id="loading-page" v-show="loading">
        <div class="spinner">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
        <div id="loading-text">
          {{ loadingText }}
        </div>
      </div>
    </transition>
    <app-nav></app-nav>
    <router-view>
    </router-view>
  </div>
</template>

<script>
import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
import '../node_modules/font-awesome/css/font-awesome.min.css'
import '../node_modules/bootstrap/dist/js/bootstrap.min.js'
import '../node_modules/startbootstrap-sb-admin-2/dist/css/sb-admin-2.min.css'
import '../node_modules/startbootstrap-sb-admin-2/dist/js/sb-admin-2.min.js'
import '../node_modules/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css'
import '../node_modules/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js'
import '../node_modules/bootstrap-toggle/css/bootstrap-toggle.min.css'
import '../node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js'
import 'moment'

import Navigation from './components/navigation/Navigation.vue'

window.moment = require('moment')
window.moment.locale('id')
window.$ = require('jquery')
window.jQuery = require('jquery')

export default {
  name: 'app',
  computed: {
    loading: function () {
      return this.$store.getters.isLoading
    },
    loadingText: function () {
      return this.$store.getters.getLoadingText
    }
  },
  components: {
    'app-nav': Navigation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  width:100%;
}
[v-cloak] {
  background-color: red;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
#loading-page {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 1001;
  background-color: #77be43;
}
#loading-text {
  /* Firefox */
  top: -moz-calc(50% + 60px);
  /* WebKit */
  top: -webkit-calc(50% + 60px);
  /* Opera */
  top: -o-calc(50% + 60px);
  /* Standard */
  top: calc(50% + 60px);

  left: 50%;
  transform: translate(-50%, 0);

  position: absolute;
  display:block;
  font-weight: bold;
  font-size: 2rem;
  color:white;
}
#loading-text:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
.spinner {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
</style>
