<template>
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#" style="padding: 3px 15px;">
	    	<img src="../../assets/logo.png" alt="Pelaporan Aktivitas RUMA" style="max-height:40px;margin-left:calc(50%-40px)">
	    </a>
	</div>
	<!-- /.navbar-header -->
</template>
