<template>
    <div id="navigation">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <nav-header> </nav-header>
            <nav-top-links> </nav-top-links>
            <nav-sidebar> </nav-sidebar>
        </nav>
    </div>
</template>

<script>
import NavHeader from './NavHeader.vue'
import NavSidebar from './NavSidebar.vue'
import NavTopLinks from './NavTopLinks.vue'

export default {
  components: {
    'nav-header': NavHeader,
    'nav-sidebar': NavSidebar,
    'nav-top-links': NavTopLinks
  }
}
</script>
