<template>
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse" v-if="this.$store.state.user">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
              </button>
          </span>
        </div>
        <!-- /input-group -->
      </li>
      <li>
        <router-link :to="{ name: 'dashboard' }">
          <i class="fa fa-dashboard fa-fw"></i> Dashboard
        </router-link>
      </li>
      <li>
        <a>
          <i class="fa fa-users fa-fw"></i> Pengaturan Pengguna <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <router-link :to="{ name: 'users.list' }"> Lihat Pengguna </router-link>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a><i class="fa fa-table fa-fw"></i> Pengaturan Formulir <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
          <li>
            <router-link :to="{ name: 'forms.list' }"> Lihat Formulir yang Ada </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'forms.create' }"> Buat Formulir Baru </router-link>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a><i class="fa fa-edit fa-fw"></i> Formulir Terisi <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
          <li>
            <router-link :to="{ name: 'reports.list' }"> Daftar Formulir Terisi </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'reports.byUser' }"> Cari Formulir Terisi </router-link>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</template>

<script>

</script>

<style lang="css">
</style>
