<template>
  <div id="form-create">
    <h2> Buat Formulir Baru </h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3> Konfigurasi </h3>
        <form>
          <div class="form-group">
            <label for="form_id">ID Formulir (otomatis)</label>
            <input type="text" class="form-control" :value="formId" placeholder="Dibuat secara otomatis" disabled>
          </div>
          <div class="form-group" v-bind:class="{ 'has-error': $v.form.name.$error }">
            <label class="control-label" for="form_name">Nama Formulir</label>
            <input type="text" class="form-control" placeholder="Nama formulir"
               v-model.trim="form.name" @blur="$v.form.name.$touch()">
            <span class="help-block" v-if="!$v.form.name.required">Field wajib diisi</span>
            <span class="help-block" v-if="!$v.form.name.minLength">Panjang nama laporan setidaknya {{ $v.form.name.$params.minLength.min }} huruf.</span>
          </div>
          <div class="form-group">
            <label for="form_description">Deskripsi</label>
            <textarea class="form-control" v-model="form.description"></textarea>
          </div>
          <hr>
          <draggable class="list-group" v-model="form.fields" :options="{group:'people'}" @start="drag=true" @end="drag=false">
              <template v-for="(field, index) in form.fields">
              <a class="list-group-item" v-bind:class="{ 'list-group-item-danger': $v.form.fields.$each[index].$invalid}">
                {{field.label}} ({{ field.field_type | displayFieldType}})
                <span class="pull-right">
                  <a class="btn btn-xs btn-default" @click="loadFieldToModal(field.name)"
                    data-toggle="modal" data-target="#configureField"> <i class="fa fa-pencil"></i>
                  </a>
                  <a class="btn btn-xs btn-default" @click="removeField(field.name)"> <i class="fa fa-trash"></i> </a>
                  <a class="btn btn-xs btn-default"> <i class="fa fa-bars"></i> </a>
                </span>
              </a>
              </template>
          </draggable>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default" @click="sortFields">
            <i class="fa fa-refresh"></i> Perbarui Pratayang
          </button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#configureField">
            <i class="fa fa-plus"></i> Tambah Field
          </button>
          <hr>
          <div class="form-group" v-bind:class="{ 'has-error': $v.form.fields.$invalid | $v.form.$invalid}">
            <span class="help-block" v-if="!$v.form.fields.required">Field tidak boleh kosong</span>
            <span class="help-block" v-else-if="$v.form.fields.$invalid">Ada field yang tidak valid</span>
            <span class="help-block" v-else-if="$v.form.$invalid">Ada form yang tidak valid</span>
          </div>
          <div class="form-group">
            <a class="btn btn-primary" @click="createForm">
              Tambah Formulir
            </a>
          </div>
        </form>
        <!-- Configure Field Modal -->
        <div class="modal fade" id="configureField" tabindex="-1" role="dialog" aria-labelledby="configureFieldLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="configureFieldLabel">{{modal.title}}</h4>
              </div>
              <div class="modal-body">
                <h4> Tambah Field Formulir </h4>
                  <div class="form-group">
                    <label for="form_field_id">ID Field (otomatis)</label>
                    <input type="text" class="form-control" :value="fieldId" placeholder="Dibuat secara otomatis" disabled>
                  </div>
                  <div class="form-group" v-bind:class="{ 'has-error': $v.temp_field.label.$error }">
                    <label class="control-label" for="label">Label</label>
                    <input class="form-control" v-model.trim="temp_field.label" @input="$v.temp_field.label.$touch()">
                    <span class="help-block" v-if="!$v.temp_field.label.required">Field wajib diisi</span>
                  </div>
                  <div class="form-group">
                    <label for="form_field_description">Deskripsi</label>
                    <textarea class="form-control" v-model="temp_field.description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="form_field_placeholder">Placeholder</label>
                    <textarea class="form-control" v-model="temp_field.placeholder"></textarea>
                  </div>
                  <div class="form-group" v-bind:class="{ 'has-error': $v.temp_field.field_type.$error }">
                    <label class="control-label" for="form_field_type">Tipe masukan</label>
                    <select class="form-control" v-model="temp_field.field_type" @input="$v.temp_field.label.$touch()">
                      <option value="1">Teks Pendek</option>
                      <option value="2">Teks Panjang</option>
                      <option value="3">Angka</option>
                      <option value="4">Nomor HP</option>
                      <option value="5">Foto</option>
                      <option value="6">Lokasi</option>
                    </select>
                    <span class="help-block" v-if="!$v.temp_field.field_type.required">Field wajib diisi</span>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="temp_field.required" value="true">
                      Wajib diisi
                    </label>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  @click="addField">Tambah Field</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3> Pratayang </h3>
        <form-preview v-bind:form="form"></form-preview>
      </div>
    </div>
  </div>
</template>

<script>
import FormPreview from './FormPreview.vue'
import draggable from 'vuedraggable'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  data: function () {
    return {
      form: {
        id: '',
        name: '',
        description: '',
        fields: [],
        version: 1,
        created_at: 0,
        created_by: 0,
        updated_at: 0,
        updated_by: 0
      },
      temp_field: {
        description: '',
        field_type: '',
        label: '',
        maxlength: 200,
        name: '',
        placeholder: '',
        required: false,
        order: 0
      },
      modal: {
        title: 'Tambah field'
      }
    }
  },
  computed: {
    formId: function () {
      return this.form.name.replace(/ /g, '-').toLowerCase()
    },
    fieldId: function () {
      return this.temp_field.label.replace(/ /g, '-').toLowerCase()
    }
  },
  methods: {
    initializeFormField: function () {
      this.temp_field = {
        description: '',
        field_type: '',
        label: '',
        maxlength: 200,
        name: '',
        placeholder: '',
        required: false
      }
    },
    initializeForm: function () {
      this.form = {
        id: '',
        name: '',
        description: '',
        fields: [],
        version: 1,
        created_at: 0,
        created_by: 0,
        updated_at: 0,
        updated_by: 0
      }
    },
    findFieldIdxByFieldName: function (fieldName) {
      var oldValue = -1
      this.form.fields.forEach(function (field, idx) {
        if (field.name === fieldName) {
          oldValue = idx
        }
      })
      return oldValue
    },
    addField: function () {
      this.temp_field.name = this.fieldId
      this.temp_field.order = this.form.fields.length
      var targetIdx = this.findFieldIdxByFieldName(this.temp_field.name)
      if (targetIdx >= 0) {
        this.form.fields.splice(targetIdx, 1, this.temp_field)
      } else {
        this.form.fields.push(this.temp_field)
      }
      this.initializeFormField()
    },
    removeField: function (fieldName) {
      var targetIdx = this.findFieldIdxByFieldName(fieldName)
      if (targetIdx >= 0) {
        this.form.fields.splice(targetIdx, 1)
      } else {
        alert('Error when searching for field with name ' + fieldName)
      }
    },
    loadFieldToModal: function (fieldName) {
      var targetIdx = this.findFieldIdxByFieldName(fieldName)
      if (targetIdx >= 0) {
        this.temp_field = this.form.fields[targetIdx]
      } else {
        alert('Error when searching for field with name ' + fieldName)
      }
    },
    isValidField: function (f) {
      if (!f) return false
      // check label
      if (!('label' in f && 'name' in f && 'field_type' in f &&
        'description' in f && 'placeholder' in f && 'required' in f &&
        'order' in f)) {
        console.log('Missing attribute in field')
        return false
      }
      if (['1', '2', '3', '4', '5', '6'].indexOf(f.field_type.toString()) < 0) {
        console.log('Invalid field_type')
        return false
      }
      if (['1', '2'].indexOf(f.field_type.toString()) >= 0) {
        if (!('maxlength' in f)) {
          console.log('Missing parameter maxlength in field')
          return false
        }
        if (typeof f.maxlength !== 'number') {
          console.log('maxlength must be a number')
          return false
        }
      }
      return true
    },
    isValidForm: function (f) {
      if (!f) return false
      if (!('id' in f && 'name' in f && 'version' in f &&
        'description' in f && 'fields' in f && 'created_at' in f &&
        'created_by' in f && 'updated_by' in f && 'updated_by' in f)) {
        return false
      }
      // this.$store.commit('startLoadingWithText', 'Validating your form')
      var self = this

      // Check if form name and form id is correct
      if (this.formId !== f.id) {
        console.log(this.formId)
        console.log(f.id)
        alert('Form ID is not derived from form name')
        return false
      }
      if (f.name.length < 5) {
        alert('Form length should be at least 5 characters long')
        return false
      }

      // Check if fields meets our need
      if (f.fields.length === 0) {
        alert('Form fields must not be empty')
        return false
      } else {
        var valid = true
        f.fields.forEach(function (field) {
          valid = valid && self.isValidField(field)
        })
        return valid
      }
    },
    transformToDatabaseForm: function (form) {
      var clone = JSON.parse(JSON.stringify(form))
      var fieldObj = {}
      for (var i = 0; i < clone.fields.length; i++) {
        var temp = {}
        clone.fields[i].order = i
        clone.fields[i].field_type = parseInt(clone.fields[i].field_type)
        Object.keys(clone.fields[i]).forEach(function (attr) {
          temp[attr] = clone.fields[i][attr]
        })
        fieldObj[clone.fields[i].name] = temp
      }
      clone.fields = fieldObj

      var result = {
        '1': clone,
        'active': 0
      }
      return result
    },
    createForm: function () {
      var self = this

      this.form.id = this.formId
      this.form.created_at = Math.round(new Date().getTime() / 1000)
      this.form.created_by = this.$store.getters.getUser.id
      this.form.updated_at = Math.round(new Date().getTime() / 1000)
      this.form.updated_by = this.$store.getters.getUser.id
      this.form.version = 1

      if (this.isValidForm(this.form)) {
        this.$store.commit('startLoadingWithText', 'Creating your form')
        var db = this.$store.getters.getDatabaseInstance
        var submit = this.transformToDatabaseForm(this.form)
        db.ref('form_templates/' + submit['1'].id).set(submit).then(function () {
          self.initializeForm
          self.$store.commit('stopLoading')
          self.$router.push({ name: 'forms.list' })
        })
      } else {
        alert('Masih kaga valid cuy formnya')
      }
    },
    sortFields: function () {
      for (var i = 0; i < this.form.fields.length; i++) {
        this.form.fields[i].order = i
      }
      this.form.fields.sort(function (a, b) {
        return a.order - b.order
      })
    }
  },
  filters: {
    displayDateTime: function (unixTimestamp) {
      var datetime = window.moment.unix(unixTimestamp)
      return datetime.format('ddd, DD MMM YYYY HH:MM')
    },
    displayFieldType: function (fieldType) {
      if (!fieldType) {
        return ''
      }
      switch (fieldType.toString()) {
        case '1': return 'Short Text'
        case '2': return 'Long Text'
        case '3': return 'Numeric'
        case '4': return 'Phone Number'
        case '5': return 'Images'
        case '6': return 'Location/Maps'
      }
    }
  },
  components: {
    'form-preview': FormPreview,
    draggable
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(5)
      },
      fields: {
        required,
        $each: {
          label: {
            required
          },
          name: {
            required
          },
          field_type: {
            required
          }
        }
      }
    },
    temp_field: {
      label: {
        required
      },
      field_type: {
        required
      }
    }
  }
}
</script>
