<template>
    <div id="form-preview">
      <div class="well">
        <form>
          <h3>{{form.name}}</h3>
          <p> {{form.description}}</p>
          <template v-for="field in sortedFields">
            <div class="form-group">
              <label v-bind:for="field.name">
                {{field.label}}
                <span v-if="field.required" style="color:red">*</span>
                <a role="button" tabindex="0" data-toggle="popover" :title="field.name" :data-content="popoverText(field)" data-trigger="hover"><i class="fa fa-question-circle-o"></i></a>
              </label>
              <input type="text" name="filled_fields[]" class="form-control"
                v-bind:placeholder="field.placeholder" v-bind:id="field.name + 'a'">
              <p class="help-block">{{field.description}}</p>
            </div>
          </template>
          <div class="text-right"><span style="color:red">*</span> Wajib diisi </div>
          <div class="form-group">
            <a class="btn btn-primary" id="submitBtn">
              Submit
            </a>
            </div>
        </form>
      </div>
    </div>
</template>

<script>
export default {
  props: ['form'],
  data: function () {
    return {
      showingDetail: false
    }
  },
  computed: {
    sortedFields: function () {
      var sortedFields = []
      var self = this
      Object.keys(this.form.fields).forEach(function (key) {
        sortedFields.push(self.form.fields[key])
      })
      console.log(sortedFields)
      return sortedFields.sort(function (a, b) {
        return a.order - b.order
      })
    }
  },
  methods: {
    popoverText: function (field) {
      let res = ''
      let self = this
      Object.keys(field).forEach(function (key) {
        var fieldText = (key === 'field_type') ? self.displayFieldType(field[key]) : field[key]
        res += '<strong>' + key + ': </strong><em>' + fieldText + '</em><br />'
      })
      return res.substr(0, res.length - 6)
    },
    displayFieldType: function (fieldType) {
      switch (fieldType) {
        case 1: return 'Short Text'
        case 2: return 'Long Text'
        case 3: return 'Location/Maps'
        case 4: return 'Phone Number'
        case 5: return 'Images'
        case 6: return 'Short Text'
      }
    }
  },
  filters: {
    displayDateTime: function (unixTimestamp) {
      var datetime = window.moment.unix(unixTimestamp)
      return datetime.format('ddd, DD MMM YYYY HH:MM')
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      window.$('[data-toggle="tooltip"]').tooltip()
      window.$('[data-toggle="popover"]').popover({html: true, trigger: 'hover'})
    })
  }
}
</script>
