<template>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <template v-for="field in currentVersion.fields">
      <div class="panel panel-default" v-if="field">
        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#'+field.name" aria-expanded="true" v-bind:aria-controls="field.name">
          <h4 class="panel-title">
              {{ field.label }}
              ({{ (field.required)
                      ?'Required'
                      :'Optional'}})
              <span class="pull-right">
                {{ field.field_type | displayFieldType }}
                  <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
              </span>
          </h4>
        </div>
        <div v-bind:id="field.name" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                  <table class="table table-bordered table-hover table-striped">
                    <tbody>
                      <tr>
                        <th>Nama</th>
                        <td>{{ field.name }}</td>
                      </tr>
                      <tr>
                        <th>Label</th>
                        <td>{{ field.label }}</td>
                      </tr>
                      <tr>
                        <th>Tipe</th>
                        <td>{{ field.field_type | displayFieldType }}</td>
                      </tr>
                      <tr>
                        <th>Placeholder</th>
                        <td>{{ field.placeholder }}</td>
                      </tr>
                      <tr>
                        <th>Deskripsi</th>
                        <td>{{ field.description }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="table table-bordered table-hover table-striped">
                    <tbody>
                      <tr v-if="false">
                        <th>Min Length</th>
                        <td>{{ field.minlength }}</td>
                      </tr>
                      <tr v-if="field.field_type == 1">
                        <th>Max Length</th>
                        <td>{{ field.maxlength }}</td>
                      </tr>
                      <tr v-if="false">
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>