<template>
  <div id="form-list">
    Menampilkan daftar tabel yang ada (aktif/tidak)
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama</th>
              <th>Versi</th>
              <th>Diperbarui pada</th>
              <th>Diperbarui oleh</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(form, index) in form_templates">
            <tr v-bind:class="{ success: form.active, danger: !form.active }">
              <td>{{ index + 1 }}.</td>
              <td>{{ form.name }}</td>
              <td>{{ form.version }}</td>
              <td>{{ form.updated_at | displayDateTime }}</td>
              <td>{{ form.updated_by }}</td>
              <td>{{ (form.active)?'Yes':'No' }}
              <td><router-link :to="{ name: 'forms.show', params: { id: form.id } }">Detail</router-link></td>
            </tr>
            </template>
          </tbody>
        </table>
      </div>
  </div>
</template>

<script>
export default {
  computed: {
    form_templates: function () {
      let formTemplates = this.$store.getters.getFormTemplates
      let res = []
      Object.keys(formTemplates).forEach(function (formId) {
        let formTemplate = formTemplates[formId]
        let activeForm
        let numOfVersion = formTemplate.versions.length
        if (formTemplate.active > 0) {
          // if this form is active, show active version (not necessarily the last version)
          activeForm = formTemplates[formId].versions[formTemplate.active]
        } else {
          // if this form is in active, show the latest version
          activeForm = formTemplates[formId].versions[numOfVersion - 1]
        }
        activeForm.active = formTemplate.active
        res.push(activeForm)
      })
      return res
    }
  },
  filters: {
    displayDateTime: function (unixTimestamp) {
      var datetime = window.moment.unix(unixTimestamp)
      return datetime.fromNow()
    },
    displayFieldType: function (fieldType) {
      switch (fieldType) {
        case 1: return 'Short Text'
        case 2: return 'Long Text'
        case 3: return 'Location/Maps'
        case 4: return 'Phone Number'
        case 5: return 'Images'
        case 6: return 'Short Text'
      }
    }
  }
}
</script>
