<template>
  <div id="form-version-show">
    <h2> Pratayang {{ currentVersion.name }}
      <small> versi {{ currentVersion.version }} </small>

      <router-link :to="{ name: 'forms.edit', params: { id: formId, versionId: formVersion } }" class="btn btn-default pull-right" role="button">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Revisi
      </router-link>

      <a class="btn btn-success pull-right" role="button"v-if="!isActiveVersion" @click="activateThisAndDeactivateOther">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aktifkan
      </a>
      <a class="btn btn-success pull-right" role="button"v-else disabled>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aktif
      </a>
    </h2>
    <p> Diperbarui oleh {{ currentVersion.updated_by }} pada {{ currentVersion.updated_at | displayDateTime }}
    </p>

    <div class="alert alert-info" role="alert">Pratayang berikut tidak mencerminkan tampilan yang dilihat tim penyuluh pada aplikasi Android secara persis, tetapi secara garis besar akan seperti ini</div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form-preview v-bind:form="currentVersion"> </form-preview>
      </div>
    </div>

    <button class="btn pull-right">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>

    <h2> Riwayat Perubahan </h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Versi</th>
          <th>Diubah oleh</th>
          <th>Waktu</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="version in Object.keys(form.versions)">
          <td>{{ form.versions[version].version }}
            <span v-if="version == form.active"> (Aktif) </span>
          </td>
          <td>{{ form.versions[version].created_by }}</td>
          <td>{{ form.versions[version].created_at | displayDateTime }}</td>
          <td>
            <router-link :to="{ name: 'forms.version', params: { id: form.id, versionId: version } }">
              Lihat
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import FormPreview from './FormPreview.vue'

export default {
  data: function () {
    return {
      showingDetail: false,
      formId: this.$route.params.id,
      formVersion: this.$route.params.versionId
    }
  },
  computed: {
    form: function () {
      return this.$store.getters.getFormTemplateById(this.$route.params.id)
    },
    currentVersion: function () {
      this.formId = this.$route.params.id
      this.formVersion = this.$route.params.versionId
      if (!this.formId) {
        alert('Form with ID ' + this.formId + ' is not exists')
      }
      if (!this.formVersion) {
        let activeVersion = this.$store.getters.getActiveVersion(this.formId)
        this.formVersion = activeVersion.version
        console.log({'a': this.formId, 'b': this.formVersion})
        return activeVersion
      } else {
        return this.$store.getters.getFormTemplateByIdAndVersion(this.formId, this.formVersion)
      }
    },
    isActiveVersion: function () {
      return this.currentVersion.version.toString() === this.form.active.toString()
    }
  },
  methods: {
    activateThisAndDeactivateOther: function () {
      this.$store.commit('activateVersionAndDeactivateOther',
        {formId: this.formId, formVersion: this.formVersion})
    }
  },
  filters: {
    displayDateTime: function (unixTimestamp) {
      var datetime = window.moment.unix(unixTimestamp)
      return datetime.format('dddd, DD MMM YYYY HH:MM')
    },
    displayFieldType: function (fieldType) {
      switch (fieldType) {
        case 1: return 'Short Text'
        case 2: return 'Long Text'
        case 3: return 'Location/Maps'
        case 4: return 'Phone Number'
        case 5: return 'Images'
        case 6: return 'Short Text'
      }
    }
  },
  components: {
    'form-preview': FormPreview
  }
}
</script>
