<template>
  <div id="form-show">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <router-view> </router-view>
      </div>
      <div class="col-sm-12 col-md-3">
        <table class="table table-bordered table-hover hidden-sm hidden-xs">
            <thead>
              <tr>
                <th>Lihat Versi Sebelumnya</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="version in Object.keys(form.versions)">
                <td>
                  <router-link :to="{ name: 'forms.version', params: { id: form.id, versionId: version } }">
                    {{ version }}
                    <span v-if="isActiveVersion(version)"> (versi aktif) </span>
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      showingDetail: false
    }
  },
  computed: {
    form: function () {
      return this.$store.getters.getFormTemplateById(this.$route.params.id)
    }
  },
  filters: {
    displayDateTime: function (unixTimestamp) {
      var datetime = window.moment.unix(unixTimestamp)
      return datetime.format('ddd, DD MMM YYYY HH:MM')
    },
    displayFieldType: function (fieldType) {
      switch (fieldType) {
        case 1: return 'Short Text'
        case 2: return 'Long Text'
        case 3: return 'Location/Maps'
        case 4: return 'Phone Number'
        case 5: return 'Images'
        case 6: return 'Short Text'
      }
    }
  },
  methods: {
    isActiveVersion: function (ver) {
      return ver && (ver.toString() === this.form.active.toString())
    },
    showVersionDetailClicked: function () {
      this.showingDetail = !this.showingDetail
    }
  }
}
</script>
