<template>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="page-header"> Pengaturan Formulir </h1>
				<router-view> </router-view>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  created: function () {
    if (this.$store.getters.getFormTemplates.length === 0) {
      this.$store.commit('startLoadingWithText', 'Fetching your data')

      var formTemplateRef = this.$store.state.database.ref('form_templates')
      // Make sure we remove all previous listeners.
      formTemplateRef.off()
      // Loads the last 12 messages and listen for new ones.
      var setFormTemplate = function (data) {
        var val = data.val()
        var attrFilter = function (data) {
          return data !== 'active'
        }
        var versions = []
        var versionList = Object.keys(val).filter(attrFilter)
        versionList.forEach(function (data) {
          versions[data] = val[data]
        })

        var result = {
          id: data.key,
          versions: versions,
          active: val.active
        }
        this.$store.commit('addFormTemplates', result)
      }

      var deleteFormTemplate = function (data) {
        var val = data.val()
        console.log('Deleted : ')
        console.log(val)
        this.$store.commit('removeFormTemplates', val)
      }

      formTemplateRef.limitToLast(12).on('child_added', setFormTemplate.bind(this))
      formTemplateRef.limitToLast(12).on('child_changed', setFormTemplate.bind(this))
      formTemplateRef.limitToLast(12).on('child_removed', deleteFormTemplate.bind(this))

      this.$store.commit('stopLoading')
    } else {
      console.log('Loading from store')
    }
  }
}
</script>
